body {
  font-family: 'Work Sans', sans-serif;
  margin: 15px;
}
header, footer {
  padding: 15px;
  border: 3px solid darkblue;
  border-radius: 5%;
  margin: 10px 0 10px 0;
}
.input-field {
  display: inline-block;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
}
footer section {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.bookmark-list {
  max-height: 60vh;
  padding: 15px;
  display: flex;
  border: 3px solid darkgreen;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  font-family: 'Noto Serif', serif;
}
.bookmark-list h3 {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: .5em;
}
.bookmark {
  padding: .2em;
  height: auto;
  width: auto;
  border: .5px solid black;
  align-items: center;
  margin-left: .5em;
  margin-bottom: .5em;
  font-family: 'Noto Serif', serif;
}
.read {
  background-color: #284907;
  color: white;
}
.title, .url {
  margin: 0px 10px;
  padding-left: .6em;
  border: 1px solid black;
  border-radius: .25em;
}

.submit, #clear-read-buttons, #mark-all-read-button {
  border: 1px solid black;
  background-color: lightblue;
  border-radius: 1em;
  max-height: 30px;
}

.submit:hover, #clear-read-buttons:hover {
  background-color: rgb(144, 232, 143);
}

#clear-read-buttons, #mark-all-read-button {
  float: right;
  display: inline-block;
}

.titleResult, .urlResult{
  font-size: .8em;
  display: block;
  margin-left: .5em;
  margin-bottom: 5px;
}

.titleResult {
  font-weight: bold;
}

.mark, .remove-mark{
  border: 1px solid black;
  background-color: lightgreen;
  border-radius: .5em;
  margin-left: .5em;
  margin-top: 10px;
}

.mark:hover, .remove-mark:hover {
  background-color: white;
}

.bookmark:hover {
  height: auto;
  background-color: #284907;
  color: white;
  border: 3px solid lightblue;
}

button[type=button]:hover {
  cursor: pointer;
  border: 3px solid #284907;
}
