/* MAKE CODE RESPONSIVE ON MOBILE SIZED LAYOUTS */
/* MAYBE FLEXBOXES */
body {
  font-family: 'Work Sans', sans-serif;
  margin: 15px;
}
header, footer {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  border: 3px solid darkblue;
  border-radius: 5%;
  margin: 10px 0 10px 0;
}
h1 {
  flex: 2;
  font-size: 2em;
  font-weight: bold;
}
.bookmark-list {
  max-height: 70vh;
  padding: 15px;
  display: flex;
  border: 3px solid darkgreen;
  justify-content:flex-start;
  flex-wrap: wrap;
  overflow: scroll;
}
.bookmark {
  height: 2em;
  width: 30%;
  display: flex;
  border: 2px solid black;
  margin: 0 .5em .5em .5em;
}
.read {
  color: magenta;
}

.bookmark:hover {
  height: 2em;
  width: 40%;
  display: flex;
}
